# --- Python / Django ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
db.sqlite3


# --- Node / Frontend (General) ---
node_modules/
dist/
build/
.eslintcache

# --- Environment & Secrets ---
.env
*.env
!.env.example
backend/.env
frontend/.env


# --- OS Specific ---
.DS_Store
Thumbs.db
.vscode/

# --- Docker ---
.docker/

# Logs
*.log
npm-debug.log*

# SQLite journal 
db.sqlite3-journal